
<nav id="navbartopclass" class="navbar sticky-top bg-opacity-75 navbar-expand-lg bg-gradient">
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col">
                <button class="btn nav-link" name="linksnavbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#OffcanvasMenu" aria-controls="offcanvasWithBothOptions">
                    <i class="navbar-toggler-icon"></i> <span class="d-none d-sm-inline">Menu</span>
                </button>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                <a href="/" class="nav-link" name="linksnavbar">
                    <img src="~/image/logo_start.png" width="30"> <span class="d-none d-sm-inline" id="NavNameCompany"></span>                
                </a>
            </div>
        </div>
    </div>
</nav>