@using DigitalMenu.Models.Product
@model ProductCategoryViewModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Product/Shared/ProductLayout.cshtml";
}

<div class="row g-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Categorias de productos</h6>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-6 col-md-4">
                        <label class="form-label fw-bold" for="filter">Codigo</label>
                        <div class="input-group">
                            <input id="filter" type="text" placeholder="Codigo de producto" class="form-control" />
                            <button type="button" class="btn btn-outline-primary" onclick="SearchProductCode()">Buscar</button>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <label class="form-label fw-bold" for=""></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-outline-secondary" onclick="ShowCreateProductCategory()">+ Nueva Categoria</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted"><strong></strong></span>
            </div>
        </div>
    </div>
 
    <div class="col-12" id="SearchResultProductCategory">
        <partial name="~/Views/Product/_Partial/_SearchProductCategoryResult.cshtml" model="Model" />
    </div>
          
    <div class="col-12">
        <blockquote class="blockquote-footer">
        </blockquote>
    </div>
</div>


<div id="DetailPCContainer">
</div>

@section Scripts {
    <script src="~/js/Product/ProductCategory.js" asp-append-version="true"></script>
}