@using DigitalMenu.Models.Administrator
@model TwoListMenuApp

<!-- Modal -->
<div class="modal fade" id="ModalRolMenu" tabindex="-1" aria-labelledby="ModalNewMenuLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalNewUserLabel">
                    Insertar nuevo menu en el rol Seleccionado
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <div class="row g-3 needs-validation mb-3">

                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Rol</label>
                        <select class="form-select" id="roles" asp-items="@(new SelectList(Model.Role,"IdRole","Name"))" onchange="cargarMenus(this.value)">
                            <option value="">Seleccionar un rol</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Menu</label>
                        <select class="form-select" id="menus">
                            <option value="">Seleccionar un menú</option>
                        </select> 
                    </div>              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveRolMenu()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>