@using DigitalMenu.Models.Administrator
@model RoleViewModel

<!-- Modal -->
<div class="modal fade" id="ModalDetailRole" tabindex="-1" aria-labelledby="ModalNewRolLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalNewUserLabel">
                    Create new role
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <div class="row g-3 needs-validation mb-3" novalidate>

                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Name</label>
                        <input type="text" class="form-control" id="nameRol" value="@Model.Name" autocomplete="off" required />
                        <div class="invalid-feedback">
                            El campo Name es requerido
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Description</label>
                        <input type="text" class="form-control" id="description" value="@Model.Description" autocomplete="off" required />
                        <div class="invalid-feedback">
                            El campo Description es requerido
                        </div>
                    </div>
                    <input type="hidden" value="@Model.IdRole" id="idrol"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="EditRole()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>