<!-- Modal -->
<div class="modal fade" id="ModalNewApplication" tabindex="-1" aria-labelledby="ModalNewUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalNewUserLabel">
                    Nuevo usuario
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <div class="row g-3 needs-validation mb-3">

                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Application</label>
                        <input type="text" class="form-control" id="nameApplication" autocomplete="off" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Description</label>
                        <input type="text" class="form-control" id="description" autocomplete="off" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Display</label>
                        <input type="text" class="form-control" id="display" autocomplete="off" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Icon</label>
                        <input type="text" class="form-control" id="icon" autocomplete="off" />
                    </div>
                   
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveMenu()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>