@using DigitalMenu.Models.CategoryDishe;
@model IEnumerable<CategoryDashViewModel>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>
                    @categoria.IdDishesCategory
                </td>
                <td>
                    @categoria.Name
                </td>
                <td>
                    @categoria.Description
                </td>              
            </tr>
        }
    </tbody>
</table>

