@using DigitalMenu.Models.Administrator
@{
    ViewData["Title"] = "Create Role";
}

<h3>Crear Rol</h3>

<div>
    <div class="mb-3">
        <label class="form-label"></label>
        <input type="text" class="form-control" placeholder="Name" id="name" autocomplete="off" />
    </div>
    <div class="mb-3">
        <label class="form-label"></label>
        <input type="text" class="form-control" placeholder="Description" id="description" autocomplete="off" />
    </div>

    <button type="button" class="btn btn-primary" onclick="saveRole()">Guardar</button>
</div>



@section Scripts {

    <script src="~/js/administrator/role.js" asp-append-version="true"></script>

    @*     <script>

        const roleViewModel = {
            name: $("#name").val(),
            description: $("#description").val()
        }

    </script> *@


}