@using DigitalMenu.Models.Administrator
@{
    ViewData["Title"] = "Create Role";
}
@model RoleCrearDTO

<h3>Crear Rol</h3>

@* <form asp-action="SaveRole"> *@
    <div>
        <div class="mb-3">
            <label class="form-label"></label>
             <input type="text" class="form-control" placeholder="Name" name="Name" id="name" /> 
            @* <input asp-for="Name" class="form-control" /> *@

        </div>
        <div class="mb-3">
            <label class="form-label"></label>
             <input type="text" class="form-control" placeholder="Description" name="Description" id="description" />
            @* <textarea asp-for="Description" class="form-control"></textarea> *@

        </div>

        <button type="button" class="btn btn-primary" onclick="saveRole()">Guardar</button>
    </div>
@* </form> *@



@section Scripts {
    <script src="~/js/administrator/role.js" asp-append-version="true"></script>

}