@{
    ViewData["Title"] = "Home Page";
}

<div class="container-xxl" id="content-section" style="margin-bottom:120px;">
    <a style="cursor:pointer;" class="dropdown-item"
       onclick="LoadMainPage('Administrator','Users')">Usuarios</a>
</div>
