<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Nuevo usuario
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <div class="row g-3 needs-validation mb-3">

                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control" id="name" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Segundo Nombre</label>
                        <input type="text" class="form-control" id="middleName" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Primer Apellido</label>
                        <input type="text" class="form-control" id="motherName" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Segundo Apellido</label>
                        <input type="text" class="form-control" id="lastName" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Documento</label>
                        <input type="text" class="form-control" id="document" />
                    </div>

                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Teléfono</label>
                        <input type="text" class="form-control" id="phone"/>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Correo electrónico</label>
                        <input type="text" class="form-control" id="email" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Role</label>
                        <input type="text" class="form-control" id="role" />
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="name" class="form-label fw-bold">Usuario</label>
                        <input type="text" class="form-control" id="userName" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
